<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatApp</title>
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap"
      rel="stylesheet"
    />
    <!-- Favicon -->
    <link rel="icon" href="imgs/favicon.svg.png" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="app">
      <!-- !Start Conversations Left Side -->
      <div class="holder">
        <div class="left-col">
          <h5>
            conversations
            <div class="left-col__icons">
              <i class="fas fa-comment-alt"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </h5>
          <ul class="conversations">
            <li>
              <img src="imgs/ashraf.png" />
              <p>
                ashraf
                <span>
                  Hi Ashraf, I'm fine Thanks 💜
                  <i class="fas fa-check"></i>
                </span>
              </p>
            </li>
            <li>
              <img src="imgs/amera.png" />
              <p>
                amera
                <span>
                  hello amera
                  <i class="fas fa-check"></i>
                </span>
              </p>
            </li>
            <li>
              <img src="imgs/ahmed.png" />
              <p>
                ahmed
                <span>
                  hey ahmed, how are you man!
                  <i class="fas fa-check"></i>
                </span>
              </p>
            </li>
            <li>
              <img src="imgs/hesham.jpg" />
              <p>
                hesham
                <span>
                  😄
                  <i class="fas fa-check"></i>
                </span>
              </p>
            </li>
            <li>
              <img src="imgs/abdallah.png" />
              <p>
                abdallah
                <span>
                  ok i will
                  <i class="fas fa-check"></i>
                </span>
              </p>
            </li>
            <li>
              <img src="imgs/rami.png" />
              <p>
                rami
                <span>
                  you too
                  <i class="fas fa-check"></i>
                </span>
              </p>
            </li>
            <li>
              <img src="imgs/omar.jpg" />
              <p>
                omar
                <span>
                  yup
                  <i class="fas fa-check"></i>
                </span>
              </p>
            </li>
            <li>
              <img src="imgs/sarah.png" />
              <p>
                sarah
                <span>
                  done
                  <i class="fas fa-check"></i>
                </span>
              </p>
            </li>
            <li>
              <img src="imgs/salma.jpg" />
              <p>
                salma
                <span>
                  goodbye
                  <i class="fas fa-check"></i>
                </span>
              </p>
            </li>
          </ul>
        </div>
      </div>
      <!-- !Start Conversations Left Side -->
      <div class="container">
        <!-- Start Header -->
        <header class="header">
          <div class="info">
            <i class="fas fa-arrow-left"></i>
            <img src="imgs/ashraf.png" alt="author photo" />
            <div class="info-status">
              <!-- <h2>Ashraf</h2> -->
              <h2 id="username"><%= username %></h2>
              <span class="status">online</span>
            </div>
          </div>
          <div class="icons">
            <button id="geolocation">
              <i class="fas fa-map-marker-alt"></i>
            </button>
            <i class="fas fa-search"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </header>
        <!-- End Header -->
        <!-- Start Current Conversation -->
        <div class="main">
          <div class="main-container">
            <div id="message-parent" class="chat-log"></div>
          </div>
        </div>
        <!-- End Current Conversation -->
        <!-- Start Form -->
        <div class="chat-form">
          <form class="form-horizontal" id="form">
            <i class="far fa-grin"></i>
            <i class="fas fa-paperclip"></i>
            <div class="input">
              <input
                type="text"
                id="input"
                placeholder="write your message..."
              />
              <button type="submit" id="btn">
                <i class="fas fa-paper-plane"></i>
                <span>Send</span>
              </button>
            </div>
            <i class="fas fa-microphone"></i>
          </form>
        </div>
        <!-- End Form -->
      </div>
      <!-- End Current Chat Side -->
    </div>
    <script src="socket.io/socket.io.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
