/* Start Global Variable */
:root {
  --author-color: #ffffff;
  --own-color: #dcf8c6;
  --identity-color: #075e54;
  --icon-color: #51585c;
  --header-footer-color: #f0f0f0;
  --main-transition: 0.3s;
}
/* End Global Variable */
/* Start Global Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: rgba(0, 0, 0, 0.2) hsla(0, 0%, 100%, 0.1);
  scrollbar-width: thin;
}
body {
  font-family: "Roboto", sans-serif;
  caret-color: var(--identity-color);
}
::selection {
  background-color: var(--identity-color);
  color: #fff;
}
i {
  cursor: pointer;
  color: var(--icon-color);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/* End Global Rules */
/* Start App Background */
.app {
  /* background-image: linear-gradient(#009688 20%, #d6dbd7 20%); */
  background-color: #d6dbd7;
  overflow: hidden;
  display: flex;
  position: relative;
  z-index: 1;
}
.app::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20vh;
  background-color: #009688;
  z-index: -1;
}
/* End App Background */
/*! Start Current Conversation Main Container */
.app .container {
  background: #e5ddd5 url("../imgs/background.jpg") fixed;
  padding: 0;
  display: flex;
  flex-direction: column;
  order: 3;
  width: 60%;
  margin-right: auto;
}
/*! End Current Conversation Main Container */
/* Start Header */
.header {
  background: var(--header-footer-color);
  margin: 0;
  padding: 10px 35px;
  color: #000000;
  position: fixed;
  width: 60%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .info,
.header .icons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header .icons {
  gap: 30px;
  color: var(--icon-color);
}
.header .info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.header .info-status {
  cursor: pointer;
}
.header .info-status h2 {
  font-weight: 400;
  font-size: 16px;
}
.header .container .info-status .status {
  color: #444;
  font-size: 12px;
}
.header .fa-arrow-left {
  margin-left: -5px;
  transition: var(--main-transition);
  display: none;
}
.header .fa-arrow-left:hover {
  transform: translateX(-7px);
}
/*! End Header */
/* Start Current Conversation */
.main {
  height: 100vh;
}
.app .main .main-container {
  padding: 70px 50px 100px;
}
.chat-log {
  padding: 40px 0 114px;
  height: auto;
}
.chat-log__item {
  background: var(--author-color);
  padding: 10px;
  margin: 0 auto 20px;
  max-width: 80%;
  float: left;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  clear: both;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat-log__item.author::before,
.chat-log__item.owner::before {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
}
.chat-log__item.author::before {
  left: -17px;
  top: 0;
  border-color: var(--author-color) var(--author-color) transparent transparent;
}
.chat-log__item.owner::before {
  right: -17px;
  top: 0;
  border-color: var(--own-color) transparent transparent var(--own-color);
}
.chat-log__item.owner {
  float: right;
  background: var(--own-color);
  text-align: right;
}
.chat-log__item small {
  color: #a7bd97;
  cursor: pointer;
}
small .fa-clock {
  margin: 25px 5px 0 25px;
}
/*! End Current Conversation */
/* Start Form */
/*! End Form */
.chat-form {
  background-color: var(--header-footer-color);
  padding: 15px 0;
  position: fixed;
  bottom: 0;
  width: 60%;
  padding-right: 15px;
  padding-left: 15px;
}
.form-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.form-horizontal .input {
  width: 80%;
  position: relative;
}
.form-horizontal input {
  width: 100%;
  height: 45px;
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 21px;
}
.form-horizontal input:focus {
  outline: none;
}
.form-horizontal input::placeholder {
  text-transform: capitalize;
  color: #222;
  opacity: 0.7;
  transition: opacity var(--main-transition);
}
.form-horizontal input:focus::placeholder {
  opacity: 0.1;
}
.form-horizontal button {
  height: 37px;
  padding: 10px 20px;
  border: 0;
  border-radius: 21px;
  background-color: #25d366;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: var(--main-transition);
  position: absolute;
  top: 4px;
  right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.form-horizontal button i {
  font-size: 12px;
  color: var(--identity-color);
  transition: var(--main-transition);
}
.form-horizontal button:hover {
  background-color: #25d366cc;
}
.form-horizontal button:hover i {
  transform: translate(3px, -3px);
}
.form-horizontal i {
  color: #51585c;
  font-size: 24px;
}
.form-horizontal .fa-grin {
  transition: 0.1;
}
.form-horizontal .fa-grin:hover {
  color: var(--identity-color);
  transform: scale(1.04);
}
.form-horizontal .fa-microphone,
.form-horizontal .fa-paperclip {
  transition: var(--main-transition);
  padding: 10px 14px;
  border: 1px solid transparent;
  border-radius: 50%;
}
.form-horizontal .fa-microphone:hover,
.form-horizontal .fa-paperclip:hover {
  border-color: #ddd;
  background-color: #fff;
}

@media (max-width: 630px) {
  .form-horizontal button i {
    font-size: 14px;
  }
  .form-horizontal button span {
    display: none;
  }
}
@media (max-width: 480px) {
  .form-horizontal input::placeholder {
    opacity: 0;
  }
}
/* End Chat Side
!Start Left Side */
.holder {
  order: 1;
  border: 1px solid #ccc;
  margin-left: auto;
  display: flex;
}
.holder .left-col {
  min-width: 300px;
  background-color: #fff;
  position: relative;
}
.holder .left-col h5 {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
  font-size: 16px;
  background-color: var(--header-footer-color);
  position: fixed;
  top: 0;
  min-width: 300px;
  width: 316px;
  z-index: 1;
}
.left-col__icons i {
  margin: 0 10px;
  color: var(--icon-color);
}
.holder .left-col ul {
  margin-top: 50px;
}
.holder .left-col ul img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}
.holder .left-col ul li {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 20px;
  text-transform: capitalize;
  border-top: 1px solid #f7f7f7;
  cursor: pointer;
  transition: var(--main-transition);
}
.holder .left-col ul li:hover {
  color: var(--identity-color);
}
.holder .left-col ul li p {
  width: 100%;
}
.holder .left-col ul li span {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: var(--icon-color);
  font-size: 14px;
}
.holder .left-col ul li span {
  font-size: 12px;
}
.holder .left-col ul i {
  color: #1597e5;
}
@media (max-width: 767px) {
  .holder {
    display: none;
  }
  .header .fa-arrow-left {
    display: block;
  }
  .app .container,
  .app header,
  .app .chat-form {
    min-width: 100%;
  }
}
